<a href="https://colab.research.google.com/github/OhSangRok/test/blob/main/211018%20%EC%A4%91%EA%B0%84%EA%B3%A0%EC%82%AC%EB%A6%AC%EB%B7%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#1   파이썬 변수로 사용할 수 없는것은?
_num = 1 
num = 2
num1 = 3
#2num = 4
# 앞에 숫자는 올  수 없습니다.
n_um = 5

In [7]:
#2   각 변수의 저장된 최종 값은?
sum=0
n1 = 10
n1 = n1+10
n2 = 20
sum = n1+n2
print(n1, n2, sum)

20 20 40

In [9]:
#3   적절한 연산자 찾기
print(17//4)
print(17/4)
print(17%4)

4
4.25
1

In [13]:
#4   타입 찾기
#age = 17
age = 17.8
print(type(type(age)))

<class 'type'>

In [12]:
#5   문자열 인덱싱
a = "Hello hanyang!"
print(a[5], a[-5])

  y

In [17]:
#6. upper()함수와 문자열 슬라이싱
a = "Hello Hanyang"
print(a)
a= a.upper()
print(a)
print(a[:8])
print(a[8:])
print(a[1:10])

Hello Hanyang
HELLO HANYANG
HELLO HA
NYANG
ELLO HANY

In [18]:
#7. 여러 데이터를 다루는 파이썬 자료형
# 리스트, 튜플, 딕셔너리, 셋

In [20]:
#8-9. 리스트
a = ['a', 1, 'python', (1,2), '2', [1,2]]
print(a[3])
print(1 in a, 2 in a)

(1, 2)
True False

In [23]:
#10. 파이썬 코드
nums = list(range(4))
print(nums)
nums.insert(3,100)
print(nums)

[0, 1, 2, 3]
[0, 1, 2, 100, 3]

In [25]:
#11. 변수의 최종값
a = 100
b = 200

a, b = b, a

print(a,b)

200 100

In [27]:
#12. 딕셔너리
a = {'han':1, 1:2, '1':3}
a[1]= 'yang'
print(a)

{'han': 1, 1: 'yang', '1': 3}

In [28]:
#13. 셋
b = set('Hello')
print(b)

{'H', 'e', 'l', 'o'}

In [32]:
#14-15. 
room = [[0,0,1,0,0], [1,0,1,0,1], [0,1,1,1,9]]

mouse = room[0][2]

if mouse ==1:
  print("cheese")
elif mouse ==9:
  print("trap")
else:
  print("nothing")

cheese

In [40]:
#16-17.
a = 0
b = 0

for i in range(3,9):
  if i%2==0 and i%3 == 0:
    continue
  elif i%2 == 0:
    a += 1
  elif i%3 ==0:
    b += 1

print(a, b)

2 1

In [44]:
#18-20
print("메뉴번호 1. 치킨(300원) 2. 짬뽕(500) 3. 치킨(700원)")

money = int(input("투입금액:  "))
menu = int(input("메뉴번호:  "))

if menu == 1:
  money -= 300
elif menu == 2:
  money -= 500
elif menu == 3:
  money -= 700 

if money <0:
  print("금액이 부족합니다.")
else:
  won1000 = money//1000
  won500 = (money%1000)//500
  won100 = ((money%1000)%500)//100
  print("거스름돈: 1000원  {}개, 500원  {}개, 100원 {}개".format(won1000, won500,won100))

메뉴번호 1. 치킨(300원) 2. 짬뽕(500) 3. 치킨(700원)
투입금액:  10000
메뉴번호:  3
거스름돈: 1000원  9개, 500원  0개, 100원 3개