<a href="https://colab.research.google.com/github/OhSangRok/test/blob/main/Ch1_%EB%B3%80%EC%88%98%EC%99%80%20%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **학습목표**

1.   python 언어에서 변수의 의미를 이해하기
2.   기본 데이터 타입을 선언하기 (int, fioat, str, bool)

### =**대입연산자**

1.   대입의 경우, 오른쪽의 수식이나 ㄱ밧을 계산한 뒤, 왼쪽 변수에 값을 대입
2.   변수는 해당 값을 가지게 된다.

In [ ]:
a= 10 #int
b= 11.4 #fioat

In [ ]:
print(a)

10

### **주석**(Comment)
*   코드에서 #으로 시작하는 뒷부분은 실행안함
*   python이 실행할 때 #만나면 무시
*   개발자(사람)이 보기 위한 용도로 사용

In [ ]:
#this line is important
#so don't delete those lines

math = 100
english = 68

### **print 함수**


*   함수란 특정 기능을 반복적으로 호출하여 사용가능한 코드 블럭
*   해당 변수 값이 출력
*   .로 여러 변수를 나열하면 한줄에 출력
*   기본적으로 한칸 뛰어쓰기 후 출력

In [ ]:
print (a, b)

10 11.4

In [ ]:
print(math, english, 77, '헤응')

100 68 77 헤응

In [ ]:
math
english

68

### **변수 값 확인 방법**

1.   print() 함수 사용
2.   변수 값을 코드의 마지막에 위치 시킨 후 실행. 
     - 이 경우 outpru으로 변수의 값을 출력된다.

### **변수 이름 규칙**

*   숫자로 시작하는 이름을 제외하고 영문 대소문자, 숫자로 구성 가능
 -  숫자는 시작이 안된다!
*   일반적으로 변수를 표현할 때 정확하고
     간결한 이름을 사용하여 쉽게 이해하도록 
     설정한다.
 -  예) a= 900 경우보다, hy_student_nem = 900 으로 명시하는 것이 이해가 빠르다.

In [ ]:
ab48= 100
#4_num = 10 숫자로 시작하여 실행안됨
AB48= 200
_right = 800

### **예약어(키워드)**
*   python에서 미리 선정하여 사용중인 키워드
*   변수, 함수, 클래스 등 사용자 정의 이름으로 사용할 수 없음

In [ ]:
#for = 10 for은 예약어로 변수 사용 불가
_for = 100
_for

100

### **기본 데이터 타입**

*   정수(int)
*   실수(float)
*   문자열(str)
*   불리안(boolean)

In [1]:
a = 10 #정수형(int)
b = 15.6 #실수형(float)
c= "2학기 회장" # 문자형(str)
d= a > b #불리안(boollean)

print(a, b, c, d)

10 15.6 2학기 회장 False

### **type() 함수**

해당 변수, 값의 타입(type)을 알고자 할 때 사용하는 함수

In [2]:
print(type(a), type(b), type(c), type(d))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

### **타입 None**

*   아무런 값을 갑지 않을 때 사용
*   일반적으로 변수가 초기값을 갖지 않게 하여 해당 변수를 생성할 때 사용
*   다른 언어에서는 NULL과 같은 의미로 사용

In [4]:
n = None
print(n)

None

### **비교 연산자**

*   프로그래밍에서는 '='이게 아니라, == 를 사용
    *   예) 2학기 회장 == 상록 #참
*   작다, 크다(>.<)
*   작거나 같다, 크거나 같다(>=,<=)
*   같다(==)
*   같지 않다(!=)
    *  예) 2학기 회장 != 지설 #거짓
*   결론적으로 비교 연산자, 결과는 bool타입으로 출력

In [10]:
ss= 76100
nv= 436000

print(ss>nv)
print(ss<nv)

print(ss>=nv)
print(ss<=nv)

print(ss==nv)
print(ss!=nv)

False
True
False
True
False
True

### **기본 연산자**

In [13]:
print(ss + nv)
print(ss - nv)
print(ss * nv)
print(ss / nv)
print(nv % ss)

a = 3
b = 2

print(a**b)

512100
-359900
33179600000
0.17454128440366973
55500
9

### **연산자 우선순위**

*   기본적으로 수학의 연산자와 동일 
*   먼저 연산을 위해서 괄호()을 사용

In [15]:
a= 5
b= 4
print(a+b*50)
print((a+b)*50)

205
450